17.01_Python/sauvegarde_pkl/
17.02_CSV.CSV/cp_fandom
17.02_CSV.CSV/fondation_scp
17.02_CSV.CSV/reddit_nosleep
17.09_R/.RData
*/.DS_Store
17.06_redaction/Lionnet_Creepypastas.toc
17.06_redaction/Lionnet_Creepypastas.synctex.gz
17.06_redaction/Lionnet_Creepypastas.run.xml
17.06_redaction/Lionnet_Creepypastas.out
17.06_redaction/Lionnet_Creepypastas.log
17.06_redaction/Lionnet_Creepypastas.blg
17.06_redaction/Lionnet_Creepypastas.bcf
17.06_redaction/Lionnet_Creepypastas.aux
17.06_redaction/Lionnet_Creepypastas.bbl
17.01_Python/script/client-secret.json
17.04_txt/
.env


